body {
    background-image: url("https://4.bp.blogspot.com/-QRva3_Wfqis/Wm_aAEiLu0I/AAAAAAAAA2s/sy0Q91cBCzQXowwEkgZj5brfYjqq6hmPACLcBGAs/s1600/Danny%2BDeVito%2BM%2526M%2BSuper%2BBowl%2BCommercial.jpg"), url("paper.gif");
    background-color: #cccccc;
  }

body {
    color: white;
  }

